/* font css */

body{
  font-size: 62.5%;
}
.money-label{
  font-size:2rem;
}
.text-center{
  text-align: center;
}

h3{
  font-size: 1rem;
}

h5{
  color: #909399;
}


/* color css */
.red{
  color:#F56C6C;
}
.green{
  color:#67C23A;
}
.normal{
  color:#909399;
}

/* margin */

.box-card{
  margin:3rem auto;
}

/* border */

.line{
  border-bottom: 1px solid #eee;
}